{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container text-container">
    <div class="overlay-bg mx-auto text-center">
        <h1 class="overlay-text p-2">Buy Home Décor and Interior Designs online</h1>
    </div>
    <a href="{% url 'products' %}"
        class="btn btn-dark text-uppercase mt-5 position-absolute top-100 start-50 translate-middle pt-2">Shop
        Now</a>
</div>
<section class="container-fluid">
    <div class="row bg-light">
        <div class="col-md-8 mx-auto">
            <div class="container mt-5 text-center pb-5">
                <h3>Your Area is the only and best place to fill your Designer Homeware and Home Décor needs</h3>
                <br>
                <p>
                    At Your Area you will find a carefully selected range of designer furniture,
                    <strong>interior details</strong>, textiles and lighting for all rooms
                    in the home. Here you will find both popular classics and the latest news
                    from <strong>designer brands</strong>. Regardless of which of the home's rooms you want to fill, or
                    where you are
                    in life, we offer <strong>quality furniture</strong> that lasts over time!
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}