@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400;1,500&family=Playfair+Display:ital,wght@1,900&display=swap');

html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: url('../images/interior-design-hero-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Josefin Sans';
}

#logo {
    width: 30vw;
    border: 2px solid black;
}

.banner-font {
    font-weight: 400;
}

/* ------------------------------- Products page */

.overlay {
    height: 100%;
    width: 100%;
    background: white;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.header-container {
    padding-top: 100px;
}

.product-header {
    color: black;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* ------------------------------- Shopping bag page */

.bag-container {
    position: relative;
    top: 20%;
}


/* ------------------------------- Index page - main image overlay text */

.text-container {
    position: relative;
    top: 35%;
}

.overlay-bg {
    background-color: rgba(0, 0, 0, 0.356);
    width: 90%;
    height: auto;
}

.overlay-text {
    font-size: 2.3em;
    color: white;
    font-style: italic;
    font-family: Playfair Display, sans-serif;
}


/* ------------------------------- Buttons and Icons */

.btt-button {
    height: 25px;
    width: 25px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}


/* ------------------------------- Colors */


.bg-grey {
    background: #555;
}

.text-grey {
    color: #555;
}

/* ------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 125px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------- Allauth form formatting */

/* Allauth form formatting */

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* ------------------------------- Media Queries */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .banner-font {
        font-size: 0.9em; 
    }

    .text-container {
        top: 70%;
    }

    .bag-container {
        top: 50%;
    }

    .overlay-bg {
        width: 70%;
    }

    .header-container {
        padding-top: 250px;
    }

    .btt-button {
        height: 32px;
        width: 32px;
        margin-right: 20px;
    }

    .bag-img {
        width: 15% !important;
    }
}

/* Medium devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .overlay-bg {
        width: 35%;
    }
}
