{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container text-container">
    <div class="overlay-bg mx-auto text-center">
        <h1 class="overlay-text p-2">Page Forbidden</h1>
        <p>Looks like you're trying to access forbidden content. Please log out and sign in to the correct account</p>
    </div>
    <a href="{% url 'account_logout' %}" class="btn btn-warning text-uppercase mt-5 position-absolute top-100 start-50 translate-middle pt-2">Log out</a>
    <a href="{% url 'home' %}" class="btn btn-warning text-uppercase mt-5 position-absolute top-100 start-50 translate-middle pt-2">Home</a>
</div>

   
{% endblock %}