{% load static %}
<div class="container-fluid h-100 bg-dark">
    <div class="row py-lg-3 px-lg-3">
        <div class="col-12 col-md-4 px-4 px-md-0 py-4">
            <ul class="nav flex-column divider px-4">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link footer-link">Shop Interior Design</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link footer-link">About us</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link footer-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gallery' %}" class="nav-link footer-link">View inspiration gallery</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.privacypolicygenerator.info/live.php?token=9PMUJAzSBtXXdFbC1TMUGqYdAzXL4QDl"
                        target="_blank" class="nav-link footer-link">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 p-4 text-center">
            <a href="https://www.tradepartnerssweden.se/" target="_blank"><img src="{% static 'images/trade-partners-sweden.png' %}"
                    alt="Tradepartner Sweden Logo" rel="nofollow noopener" class="m-1 member-logo"></a>
            <a href="https://tryggehandel.svenskhandel.se/" target="_blank"><img
                    src="{% static 'images/trygg-ehandel.png' %}"
                    alt="Safe e-commerce sweden Logo" rel="nofollow noopener" class="m-1 member-logo"></a>
            <a href="https://www.postnord.se/en" target="_blank"><img
                    src="{% static 'images/postnord.png' %}" alt="Swedish postnord Logo"
                    rel="nofollow noopener" class="m-1 member-logo-postnord"></a>
        </div>
        <div class="col-12 col-md-4 p-4 order-first">
            <div>
                <h4 class="mb-4 follow">Follow us on Social Media</h4>
                <ul class="list-unstyled list-inline social-networks">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in new tab)"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter page (opens in new tab)"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.pinterest.com/" target="blank" rel="noopener"
                            aria-label="Visit out Pinterest page (opens in new tab)"><i
                                class="fab fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
            <!--  Newsletter signup -->
            <div class="bg-transparent">
            </div>
        </div>
    </div>
</div>