<div class="collapse navbar-collapse ms-2" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="shop-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=furniture" class="dropdown-item">Furniture</a>
                <a href="{% url 'products' %}?category=interior_details" class="dropdown-item">Interior Details</a>
                <a href="{% url 'products' %}?category=lightning" class="dropdown-item">Lightning</a>
                <a href="{% url 'products' %}?category=textile" class="dropdown-item">Textile</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="inspiration-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Inspiration
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="inspiration-link">
                <a href="" class="dropdown-item">View Inspiration Gallery</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="specials-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearence" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,clearence,deals" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="about-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="" class="dropdown-item">Contact</a>
                <a href="" class="dropdown-item">About us</a>
                <a href="" class="dropdown-item">FAQ</a>
            </div>
        </li>
    </ul>
</div>