{% load static %}

<nav class="navbar navbar-expand-lg bg-light w-100 justify-content-between" id="second-bar">
  <div class="dropdown">
    <a class="text-black nav-link dropdown-toggle ms-3" href="#" id="product-category" data-bs-toggle="dropdown"
      aria-haspopup="true" role="button">
      Products
    </a>
    <ul class="dropdown-menu border-0" aria-labelledby="product-category">
      <li>
        <a href="#" class="dropdown-item">Furniture</a></li>
      <li>
        <a href="#" class="dropdown-item">Interior Details</a></li>
      <li>
        <a href="#" class="dropdown-item">Lightning</a>
      </li>
      <li>
        <a href="#" class="dropdown-item">Textile</a>
      </li>
      <li>
        <a href="#" class="dropdown-item">Kitchen</a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <a class="text-black nav-link dropdown-toggle mx-3" href="#" id="product-sort" data-bs-toggle="dropdown"
      aria-haspopup="true" role="button">
      Sort Products
    </a>
    <ul class="dropdown-menu border-0" aria-labelledby="product-sort">
      <li class="dropdown">
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
      <li>
        <a href="" class="dropdown-item">By Price</a>
      </li>
      <li>
        <a href="" class="dropdown-item ">By Rating</a>
      </li>
      <li>
        <a href="" class="dropdown-item ">By Category</a>
      </li>
      <li>
        <a href="" class="dropdown-item">All Products</a>
      </li>
  </div>
  </li>
  </ul>
  <div class="d-none d-md-block">
    <form method="GET" action="" class="d-flex mt-1 ms-2" role="search" id="search">
      <input class="form-control me-1" type="search" name="q" placeholder="Search" value="{{ request.GET.q }}"
        aria-label="Search">
      <button class="btn btn-black input-group-text" type="submit">Search</button>
    </form>
  </div>
  <ul class="list-inline list-unstyled ms-3 my-2 d-none d-md-block">
    <li class="list-inline-item dropdown">
      <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center">
          <div><i class="fa-solid fa-user icon-black"></i></div>
          <p class="my-0">My Account</p>
        </div>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="" class="dropdown-item">Product Management</a>
        {% endif %}
        <a href="" class="dropdown-item">My Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
      </div>
    </li>
    <li class="list-inline-item">
      <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
        <div class="text-center">
          <div><i class="fa-solid fa-bag-shopping icon-black"></i></div>
          <p class="my-0">
            {% if grand_total %}
            ${{ grand_total|floatformat:2 }}
            {% else %}
            $0.00
            {% endif %}
          </p>
        </div>
      </a>
    </li>
  </ul>
</nav>