{% extends 'base.html' %} 

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container mt-3 mt-lg-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3 class="heading text-center">The story of Your Area</h3>
            <p>Your Area was started as a online business in 2023 in Sweden by Therés Lundqvist. 
                The name Your Area is inspired by the store's main vision - To style Your Area!
                Your Area is a Scandinavian interior design brand from Sweden whose mission is 
                to offer personal and authentic products that embrace each person's individual 
                interior design style. Inspired by the international fashion houses, Your Area's 
                identity rests on modern design with bold expressions combined with a stripped-down 
                Nordic aesthetic.</p>
        </div>
    </div>
</div>

{% endblock content %}